<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>角色列表</title>
    {include file='Common/linkstyle' /}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file='Common/header' /}
    <!-- Left side column. contains the logo and sidebar -->
    {include file='Common/aside' /}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (页眉) -->
        <section class="content-header">
            <h1>角色列表
                <small>数据展示</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li>权限管理</li>
                <li class="active">角色列表</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-left" placeholder="搜索">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm pull-left" onclick="role_edit()">添加</button>
                            <div class="layui-form-mid layui-word-aux">&nbsp;&nbsp;&nbsp;暂不支持删除角色</div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>角色名称</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                {volist name="roles" id="role"}
                                <tr>
                                    <td>{$role.rid}</td>
                                    <td>{$role.name}</td>
                                    <td>{$role.status}</td>
                                    <td>
                                        <button class="layui-btn layui-bg-purple layui-btn-xs" onclick="role_edit({$role.rid})">编辑</button>
                                        <button class="layui-btn layui-bg-red layui-btn-xs" onclick="role_disable({$role.rid})">禁用</button>
                                    </td>
                                </tr>
                                {/volist}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    {include file='Common/footer' /}
    <!-- Control Sidebar -->
    {include file='Common/controlSidebar' /}
    <!-- 添加侧边栏的背景。 这个 div必须放在 control-sidebar 之后 -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
{include file='Common/script' /}
<script>
    layui.use(['layer'],function () {
        var layer = layui.layer;
    });

    function role_edit(rid) {
        //捕获页
        layer.open({
            type: 2,
            shade: 0.6,
            title: rid > 0 ? '编辑角色' : '添加角色', //标题
            area: ['500px','450px'],
            content: '/role_edit/' + rid,
            cancel: function(){
                layer.msg('操作取消', {time: 1000});
            }
        });
    }
    
    function role_disable(rid) {
        //询问框
        layer.confirm('您确定要禁用该角色吗？', {
            btn: ['确定','取消'], //按钮
            icon: 3,
        }, function(){
            $.post('/role_disable',{rid:rid},function (response) {
                if (response['code'] == 2003) {
                    layer.msg(response.msg);
                    setTimeout(function () {
                        // 1秒后重新加载页面
                        window.location.reload();
                    },1000);
                } else {
                    layer.alert(response.msg,{icon: 2});
                }
            },'json');
        }, function(){
            layer.msg('操作取消', {
                time: 1000, //1s后自动关闭
            });
        });
    }
</script>
</body>
</html>